<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h2 tabindex="0">Maandag 2 juni 2022</h2>

    <h3 tabindex="0">Krachttraining</h3>
    <p tabindex="0">Vandaag staat een krachttraining op de planning. Wil je bijhouden wat je tijdens deze training hebt
        gedaan? Vul
        het hieronder in!</p>
    <form id="trainingInput">
        <textarea id="input" placeholder="Vul hier in wat je tijdens deze training hebt gedaan" rows="15"
            cols="10"></textarea>
        <button type="submit">Opslaan</button>
    </form>
    <p tabindex="0" id="result">

    </p>
    <div id="maand-nav">
        <a id="maand" href="/juni">Ga terug naar maandoverzicht</a>
    </div>
</body>

</html>