<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1 tabindex="0">Donderdag 12 mei 2022</h1>

    <ul class="dagschema">
        <li tabindex="0">10 uur: krachttraining</li>
        <li tabindex="0">12 uur: fysio</li>
        <li tabindex="0">15 uur: bespreking met coach <span>NIET SKIPPEN hehehehehehe!</span></li>
    </ul>

    <p tabindex="0">Wil je bijhouden wat je vandaag hebt gedaan? Vul het hieronder in!</p>
    <form id="trainingInput">
        <textarea id="input" placeholder="Vul hier in wat je vandaag hebt gedaan" rows="10" cols="10"></textarea>
        <button type="submit" class="button">Opslaan</button>
    </form>
    <p tabindex="0" id="result" class="hidden"></p>
    <div>
        <label for="site-search" tabindex="0">Zoek planning voor andere dag:</label>
        <input type="search" id="site-search" name="dag" placeholder="dd-mm-yyyy">
        <a id="zoek" href="/13mei" class="button">Zoek</a>
    </div>
    <div id="maand-nav">
        <a id="maand" href="/mei" class="button">Ga naar maandoverzicht mei</a>
    </div>
</body>

</html>