<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1 tabindex="0">Trainingsschema Larissa</h1>

    <div id="maand-nav">
        <h2 tabindex="0">Mei 2022</h2>
        <a id="maand" href="april">Ga naar april 2022</a>
        <a id="maand" href="juni">Ga naar juni 2022</a>
    </div>
    <ul>
        <li><a tabindex="0" href="dag">Zondag 1 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 2 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 3 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 4 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 5 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 6 mei 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 7 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 8 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 9 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 10 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 11 mei 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 12 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 13 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 14 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 15 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 16 mei 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 17 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 18 mei 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 19 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 20 mei 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 21 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 22 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 23 mei 2022<p>Buiten training</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 24 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 25 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 26 mei 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 27 mei 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 28 mei 2022<p>Baan training</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 29 mei 2022<p>Buiten fietsen</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 30 mei 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 31 mei 2022<p>Krachttraining</p></a></li>
    </ul>
</body>

</html>