<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1>Larissa's schema</h1>

    <div id="maand-nav">
        <h2>Juni 2022</h2>
        <a id="maand" href="/">Ga naar mei</a>
        <a id="maand" href="juli">Ga naar juli</a>
    </div>
    <ul>
        <li><a tabindex="0" href="dag">Zondag 1 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 2 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 3 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 4 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 5 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 6 juni 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 7 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 8 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 9 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 10 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 11 juni 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 12 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 13 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 14 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 15 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 16 juni 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 17 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 18 juni 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 19 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 20 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 21 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 22 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 23 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 24 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 25 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 26 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 27 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 28 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 29 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 30 juni 2022<p>Rustdag</p></a></li>
    </ul>
    <!-- <table>
        <caption>Trainingsschema voor 01-01-2022 tot en met 01-02-2022</caption>
        <tr>
            <th scope="col">Weken</th>
            <th scope="col"><a href="Maandag">Maandag</a></th>
            <th scope="col">Dinsdag</th>
            <th scope="col">Woensdag</th>
            <th scope="col">Donderdag</th>
            <th scope="col">Vrijdag</th>
            <th scope="col">Zaterdag</th>
            <th scope="col">Zondag</th>
        </tr>
        <tr>
            <th scope="row">01-01-2022 t/m 08-01-2022</th>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
        </tr>
        <tr>
            <th scope="row">09-01-2022 t/m 16-01-2022</th>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
        </tr>
        <tr>
            <th scope="row">17-01-2022 t/m 24-01-2022</th>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
        </tr>
        <tr>
            <th scope="row">25-01-2022 t/m 01-02-2022</th>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
            <td>1,5 uur fietsen</td>
            <td>1,5 uur krachttraining</td>
            <td>Rustdag</td>
        </tr>
    </table> -->
</body>

</html>