<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <h1 tabindex="0">Larissa's schema</h1>
    <h2 tabindex="0">Mei 2022</h2>
    <a id="back-day" href="/dag">Ga naar schema van vandaag</a>
    <div id="maand-nav">
        <h2 tabindex="0">Juni 2022</h2>
        <a id="maand" href="/">Ga naar mei 2022</a>
        <a id="maand" href="juni">Ga naar juli 2022</a>
    </div>
    <ul>
        <li><a tabindex="0" href="dag">Zondag 1 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 2 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 3 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 4 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 5 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 6 juni 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 7 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 8 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 9 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 10 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 11 juni 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 12 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 13 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 14 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 15 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 16 juni 2022<p>Training buiten</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 17 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 18 juni 2022<p>Vrije training</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 19 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 20 juni 2022<p>Baantraining</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 21 juni 2022<p>Krachttraining</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 22 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 23 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Dinsdag 24 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Woensdag 25 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Donderdag 26 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Vrijdag 27 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Zaterdag 28 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Zondag 29 juni 2022<p>Rustdag</p></a></li>
        <li><a tabindex="0" href="dag">Maandag 30 juni 2022<p>Rustdag</p></a></li>
    </ul>
</body>

</html>