body {
    background: black;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: fit-content;
    height: auto;
    margin: 0 auto;
    display: block;
    overflow-x: visible;
    border-spacing: 0;
}

table>caption {
    padding: 0.5em;
}

tbody {
    white-space: nowrap;
}

th,
td {
    padding: 5px 10px;
    /* border-top-width: 0; */
    border-left-width: 0;
}

th {
    position: sticky;
    top: 0;
    vertical-align: bottom;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    width: 60vw;
    margin: 0 auto;
}


ul li {
    list-style: none;
    margin-bottom: 2em;
    padding: 1em;
    background: rgb(131, 201, 126);
}

ul li a {
    color: black;
}

ul li:focus-within,
ul.dagschema li:focus,
textarea:focus,
#zoek:focus {
    background: rgb(55, 114, 207);
}

a:focus {
    outline: none;
    border: none;
}

#maand-nav {
    margin: 3em 0;
}

#maand-nav h2 {
    margin-bottom: 2em;
}

#maand {
    padding: 1em;
    background: orange;
    color: black;
}

#maand:focus {
    background: rgb(55, 114, 207);
}

#zoek {
    background: orange;
    color: black;
    padding: 0.7em;
}

button:focus,
a:focus {
    background: rgb(55, 114, 207);
}

ul.dagschema li {
    background: orange;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

form>button {
    padding: 1em;
    border: none;
    background: orange;
    color: black;
    font-size: 1em;
    max-width: 30vw;
    margin: 1em auto 0 auto;
}

form>textarea {
    font-size: 1em;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
}

::placeholder {
    color: rgb(69, 67, 67);
    font-family: Arial, Helvetica, sans-serif;
}

input[type="search"] {
    margin: 0 auto;
}

.explode {
    animation: 1s explode 1;
}

@keyframes explode {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(10);
    }

    100% {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    #maand {
        margin-bottom: 1em;
    }

    #maand-nav {
        display: flex;
        flex-direction: column;
    }
}